@import './styles/variables';
@import './styles/media-query';

.modal {
  position: fixed;
  max-width: $max-width;
  max-height: 70vh;
  top: 20%;
  border: 1px solid #ccc;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  visibility: hidden;
  z-index: 20;
  overflow-x: auto;

  &_show {
    visibility: visible;
    opacity: 1;
  }
}

.modalCloseButton {
  background: none;
  outline: none;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  border-radius: 3px;
  padding: 11px;
}

@include for-phone-only {
  .modal {
    width: 86%;
    left: 7%;
    top: 15%;
    max-height: 80vh;
  }
}

@include for-tablet-portrait {
  .modal {
    width: 80%;
    left: calc((100vw - 80%) / 2);
  }
}

@include for-tablet-landscape {
  .modal {
    width: 80%;
    left: calc((100vw - 80%) / 2);
  }
}

@include for-desktop {
  .modal {
    width: 70%;
    left: calc((100vw - 70%) / 2);
  }

  .modalCloseButton:hover {
    background: lighten($font-primary-hover, 30%);
  }
}
