@import "./styles/variables";
@import "./styles/mediaQuery";

.modal {
  position: fixed;
  width: 70%;
  max-width: $max-width;
  top: 25%;
  left: 15%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
  opacity: 0;
  transition: all 0.3s ease-out;
  visibility: hidden;
  z-index: 50000;
  overflow-x: auto;

  &_show {
    visibility: visible;
    opacity: 1;
  }
}

@include for-phone-only {
  .modal {
    width: 86%;
    left: 7%;
    top: 15%;
    max-height: 80vh;
  }
}

@include for-tablet-portrait {
  .modal {
    top: 20%;
    max-height: 70vh;
  }
}