@import "./styles/variables";

.priceItem {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: left;
  line-height: 0.9rem;

  &:hover {
    cursor: pointer;
    color: $font-secondary-hover;
  }
}

.tooltipBox {
  text-align: center;
  padding: 15px;
  width: 300px;
  height: 150px;
  border-radius: 20px;
  background-color: darkgrey;
  &::after {
    content: "";
    position: absolute;
    top: -20px;
    left:15%;
    margin-bottom: -10px;
    border-width:10px;
    border-style: solid;
    border-color: transparent transparent darkgrey transparent ;
  }
}
