@import './styles/variables';
@import './styles/media-query';

.classes {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  &__singleClass {
    padding: 0 20px 20px 20px;
    line-height: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $content-background;
    transition: background-color 100ms;
    box-shadow: $primary-shadow;

    &:hover {
      background-color: #fbfbfb;
    }

    & > h3 {
      padding: 0 20px 10px 20px;
      border-bottom: 2px solid $font-secondary;
      font-size: 1.2rem;
    }

    & > h3 {
      padding-top: 20px;
    }

    & > p {
      margin: 0;
      text-align: left;
    }
  }
}

.poleDance__link {
  border-bottom: 1px solid black;
}

.poleDance__linkContainer {
  display: flex;
  align-items: center;
  padding-top: 30px;

  &:hover {
    cursor: pointer;
    color: $font-secondary;
  }
}

.classes__levelList {
  margin: 20px;
  text-align: left;

  & div {
    padding: 16px 0;

    dt {
      padding-bottom: 15px;
      font-size: 1.1em;
      font-style: italic;
    }

    dd {
      margin: 0;
    }
  }
}

@include for-phone-only {
  .classes {
    display: block;
    &__singleClass {
      padding: 20px;
      margin: 0 10px 30px 10px;

      & > h3 {
        padding: 0;
      }
    }
    &__selection {
      &Btn {
        font-size: 1.3rem;
        line-height: 1rem;
      }
    }
  }
}

@include for-tablet-portrait {
  .classes {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
  }
}
