@import "./styles/variables";
@import "./styles/mediaQuery";

.classes {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  &__singleClass {
    padding: 0 20px;
    line-height: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $content-background;
    transition: background-color 200ms ease-in-out;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    &:hover {
      background-color: #fbfbfb;
    }

    & > h3 {
      padding: 0 20px 10px 20px;
      border-bottom: 2px solid $font-secondary;
    }

    & > h3 {
      padding-top: 20px;
    }

    & > p {
      margin: 0;
      text-align: left;
    }
  }
}

@include for-phone-only {
  .classes {
    display: block;
    &__singleClass {
      padding: 20px;
      margin: 0 10px 30px 10px;

      & > h3 {
        padding: 0;
      }
    }
    &__selection {
      &Btn {
        font-size: 1.3rem;
        line-height: 1rem;
      }
    }
  }
}

@include for-tablet-portrait {
  .classes {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
  }
}
