@import './styles/variables';
@import './styles/mediaQuery';

.priceItem {
  padding: 5px 0;
  list-style: none;

  &:hover {
    cursor: pointer;
    color: $font-primary-hover;
  }
}

.descList {
  list-style: square;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}
