@import "./styles/variables";

.priceItem {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: left;
  line-height: 0.9rem;

  &__name {
    border-bottom: 1px dotted #aaa;
  }

  &:hover {
    cursor: pointer;
    color: $font-secondary-hover;
  }
}

.tooltipBox {
  position: relative;
  text-align: center;
  width: 300px;
  height: 175px;
  background-color: $font-secondary;
}

.tooltipArrowLeft::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 100%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent $font-secondary transparent transparent;
}

.tooltipArrowRight::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 100%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent $font-secondary;
}

.descList {
  list-style: square;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}