@import './styles/variables';
@import './styles/mediaQuery';

.fontAwesome {
  margin: 0 10px;

  &:hover {
    color: $font-primary-hover;
  }
}

.footer {
  width: 100vw;
  position: sticky;
  bottom: 0;
  color: #fff;
  background-color: $dark-background;
  height: 150px;
  margin-top: 40px;
  box-shadow: $secondary-shadow;

  &__container {
    height: 100%;
    padding-left: 10px;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.telMail:hover {
  color: $font-primary-hover;
}

.media {
  height: 100%;
  padding-top: 20px;
}

@include for-phone-only {
  .media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
