@import "./styles/variables";

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 80px;
  &__section {
    border: 1px solid black;
    padding-right: 20px;
    height: 350px;
    width: 550px;
    border-radius: 20px;
  }
  &__sectionTitle {
    font-size: 1.5rem;
    line-height: 1rem;
  }
  &__priceList {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}