@import "./styles/variables";
@import "./styles/mediaQuery";

.container {
  height: 100%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  // align-items: stretch;
}

.teacher {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 250px;
  }

  &__photo {
    height: 70%;
    width: 70%;
    transition: transform 200ms linear, box-shadow 200ms linear;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      box-shadow: 0 0 20px black;
    }
  }

  &__name {
    font-size: 1.2rem;
    line-height: 1rem;
  }
}
