@import './styles/variables';
@import './styles/media-query';

.container {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.teacher {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 225px;
    margin: 0;
  }

  &__thumbnail {
    height: 70%;
    width: 70%;
    transition: transform 100ms linear, box-shadow 100ms linear;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(#000, 0.5);
    }
  }

  &__name {
    font-size: 1.4rem;
    line-height: 1rem;
  }
}

.modal {
  &__container {
    padding: 20px;
    display: flex;
    gap: 20px;
  }
  &__photo {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
  &__content {
    display: inline-block;
  }
  &__title {
    font-size: 1.8rem;
    line-height: 1rem;
  }
  &__desc {
    text-align: left;
    line-height: 1.3rem;
  }
}

@include for-phone-only {
  .container {
    justify-content: space-around;
  }

  .teacher {
    &__container {
      height: 150px;
      width: 150px;
      margin-bottom: 10px;
    }

    &__thumbnail {
      height: 60%;
      width: 60%;
    }

    &__name {
      font-size: 1.2rem;
    }
  }

  .modal {
    &__container {
      display: block;
    }
    &__photo {
      height: 250px;
      width: 250px;
    }
    &__title {
      font-size: 1.3rem;
    }
  }
}

@include for-tablet-portrait {
  .modal {
    &__photo {
      width: 150px;
      height: 150px;
    }
  }
  .container {
    justify-content: space-around;
  }
}

@include for-tablet-landscape {
  .container {
    justify-content: space-around;
  }
}
