@import "./styles/variables";
@import "./styles/mediaQuery";

.container {
  height: 100%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.teacher {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 250px;
  }

  &__thumbnail {
    height: 70%;
    width: 70%;
    transition: transform 200ms linear, box-shadow 200ms linear;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      box-shadow: 0 0 20px black;
    }
  }

  &__name {
    font-size: 1.2rem;
    line-height: 1rem;
  }
}

.modal {
  &__container {
    display: flex;
    gap: 20px;
  }
  &__photo {
    width: 300px;
    height: 300px;
  }
  &__content {
    display: inline-block;
  }
  &__title {
    font-size: 1.8rem;
    line-height: 1rem;
  }
  &__desc {
    text-align: left;
    line-height: 1.3rem;
  }
}
