@import './styles/variables';
@import './styles/media-query';

.container {
  position: relative;
  text-align: center;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &_black {
    background-color: $dark-background;
    color: $font-secondary;
  }
}

.scrollHelper {
  position: absolute;
  top: -130px;
}

.title {
  position: relative;
  text-align: center;
  margin: 40px 0;
  font-size: 1.8rem;
}

.content {
  width: 100%;
  margin: 0 auto;
  max-width: $max-width;
  &_border {
    border: 5px solid $font-secondary;
  }
}

.moreInfo {
  margin: 20px 0 0 20px;
  text-align: left;
}

@include for-phone-only {
  .container {
    margin: 20px auto;
    margin-bottom: 0;
  }
  .content {
    padding: 0 20px;
  }
}

@include for-tablet-portrait {
  .container {
    padding: 0 10px;
  }
}

@include for-tablet-landscape {
  .container {
    padding: 0 10px;
  }
}

@include for-desktop {
  .container {
    padding: 0 10px;
  }
}
