$font-primary: #000;
$font-primary-hover: #4c4c4c;
$font-primary-active: #000;


$font-secondary: #00d3ff;
$font-secondary-hover: #4de0ff;
$font-secondary-active: #0093b2;

$content-background: #f5f5f5;

$dark-background: #212121;

$max-width: 1200px;