@import "./styles/variables";
@import "./styles/mediaQuery";

.container {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.imageThumbnail {
  &:hover {
    cursor: pointer;
  }
}
