@import "./styles/variables";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text {
    text-align: center;
  }
  &__bookingBtn {
    text-align: center;
    width: 200px;
    color: #fff;
    font-size: 18px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 20px;
    background-color: #000;
    & > p {
      line-height: 15px;
    }
  }
}

.contact {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;

  &_social {
    & > .contact__item_content {
      border-right: 1px solid #000;
      border-left: 1px solid #000;
    }
  }

  &__item_title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }
  &__item_content {
    height: 100px;
  }
}

.classes {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 22px;
  height: 540px;
  &__selection {
    border-radius: 20px;
    padding: 30px;
    background-color: $content-background;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    text-align: left;

    &Btn {
      line-height: 38px;
      font-size: 24px;
      font-weight: 500;
      text-align: left;
      border-radius: 10px;
      padding: 10px;
      transition: background-color 100ms linear;
      &:hover {
        cursor: pointer;
        background-color: #fff;
      }
      &_isActive {
        background-color: #fff;
      }
    }
  }
  &__content {
    border-radius: 20px;
    background-color: $content-background;
  }
}
