@import './styles/variables';

* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Baloo 2', sans-serif;
  font-display: swap;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
  border: 2px dashed $font-secondary;
}

address {
  font-style: normal;
}
button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
}
