@import "./styles/variables";
@import "./styles/mediaQuery";

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.scrollHelper {
  position: absolute;
  top: -150px;
}

.title {
  text-align: center;
}

.content {
  height: 85vh;
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  background-color: $content-background;
  margin: 20px 0;
}

@include for-phone-only {
  .content {
    width: 95vw;
    height: 250vh;
    margin: 20px auto;
    padding: 30px;
  }
}