@import "./styles/variables";

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: -1;
}

.scrollHelper {
  position: absolute;
  top: -150px;
}

.content {
  height: 85vh;
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  background-color: $content-background;
  margin: 20px 0;
}
